body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', 'Courier New', monospace;
}

.header {
  background-color: #222222;
  padding: 50px;
  color: #22A39F;
  font-size: 48px;
  text-align: center;
}

.gameover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.gameover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #434242;
  color: #f3efe0;
  padding: 20px 40px;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: 100;
  font-size: 24px;
}

.gameover-content > button {
  background-color: #222222;
  color: #22a39f;
  padding: 15px;
  width: 200px;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background-color: #F3EFE0;
  color: #434242;
  font-size: 18px;
  font-weight: 900;
  width: 900px;
  padding: 10px;
  margin: 30px 0;
}

.score div {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2pt;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #434242;
  flex-grow: 1;
}

.versus {
  display: flex;
  justify-content: space-between;
  width: 900px;
  height: 250px;
}

.versus .selection {
  width: 250px;
}

.selection img {
  height: 100%;
  width: 100%;
}

.result {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 280px;
  color:#F3EFE0;
  font-size: 20px;
  font-weight: 100;
  line-height: 24pt;
}

.options {
  display: flex;
  justify-content: space-around;
  width: 900px;
  margin: 30px 0;
}

.options .choice {
  height: 200px;
  width: auto;
  background-color: #222222;
}

.choice img {
  width: 100%;
  height: 100%;
}

.choice:hover {
  background-color: #22A39F;
}