body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: #222222;
  padding: 50px;
  color: #22A39F;
  font-size: 60px;
  text-align: center;
}

.gameover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.gameover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.score {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #F3EFE0;
  color: #434242;
  font-weight: 900;
  font-size: 30px;
  width: 700px;
  padding: 20px;
  margin: 30px 0;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #434242;
  flex-grow: 1;
}

.versus {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 200px;
}

.versus .selection {
  width: 200px;
  background-color: #22A39F;
}

.result {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 200px;
  color:#F3EFE0;
  font-size: 25px;
}